<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>796374145012-88qj37evephmrap17pbbc1016u42hv9j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.796374145012-88qj37evephmrap17pbbc1016u42hv9j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>796374145012-q58cbkd2raumorja50477as618ukmerk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCABpkROpAM1Kzzq4vK-ELv6ILHW1aGlBg</string>
	<key>GCM_SENDER_ID</key>
	<string>796374145012</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hs.magri</string>
	<key>PROJECT_ID</key>
	<string>magri-app-mobile-application</string>
	<key>STORAGE_BUCKET</key>
	<string>magri-app-mobile-application.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:796374145012:ios:b13ddd58ea961dec990ba1</string>
</dict>
</plist>